# MentraOS Configuration
PACKAGE_NAME=com.suhail.assistant
MENTRAOS_API_KEY=bceccc8c508ac5aafae6b9575458ae96fd35dd7ef740497adc864a63a08e5846
PORT=3000

# AI Service API Keys (add when ready)
OPENAI_API_KEY=
OPENROUTER_API_KEY=
GOOGLE_CLOUD_VISION_API_KEY=
AZURE_OCR_KEY=
AZURE_OCR_ENDPOINT=
AWS_REGION=us-east-1
AWS_REKOGNITION_COLLECTION_ID=suhail-faces
AWS_ACCESS_KEY_ID= AKIASGYSQZRDFFFFHLIJ
AWS_SECRET_ACCESS_KEY=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
# AWS_SESSION_TOKEN=

# App Configuration
DEFAULT_LANGUAGE=ar
CONFIDENCE_THRESHOLD=0.5
